modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 24918
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
TELEGRAM_BOT_TOKEN = "8576299379:AAGBEJeybVncfNS9aAV7psZAPzmqhpgCfnY"
TELEGRAM_BOT_USERNAME = "na_utrah_4_bot"
JWT_SECRET = "na_utrah4_jwt_secret_2024_ultra_secure_key_xk9m2p"
